<div class="mat-elevation-z2" style="width: 30%; padding: 30px; margin: 50px auto; display: flex;justify-content: center;">
    <form [formGroup]="formProject">
        <div class="flex">
            <mat-form-field>
                <mat-label>Id</mat-label>
                <input matInput formControlName="id" readonly>
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="descripcion">
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field>
                <mat-label>Asignado</mat-label>
                <input matInput formControlName="asignado">
              </mat-form-field>
        </div>

        <div class="flex">
            <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
            <button mat-flat-button color="warn" (click)="volver()" style="margin-left: 8px;">Volver</button>
        </div>
    </form>
</div>
